<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'style-tags', layout: 'theme' %}
  {% include 'css-variables' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% include 'script-tags', layout: 'theme' %}

  {{ content_for_header }}
</head>
<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  {% section 'header' %}
  <main role="main" id="MainContent">
    {{ content_for_layout }}
    <div class="banana-notification banana-socialProofPopup {% if popout %}banana-popout banana-{{ popout_position }}{% endif %} {% if picture_mode == 'none' or display_picture_html == nil %}banana-no-picture{% endif %}">
    {%- if picture_mode != 'none' and display_picture_html != nil -%}
      <span class="banana-profile-container banana-profile-type-{{ picture_mode }}">
        {%- if product.url -%}<a href="{{ product.url }}" class="banana-product-image-link" target="{{ product.name }}">{%- endif -%}
          {{ display_picture_html }}
        {%- if product.url -%}</a>{%- endif -%}
      </span>
    {%- endif -%}
    <span class="banana-notification-text">
      {%- if customer_name_display != 'Someone' and show_name %}
        <span class="banana-customer-name">{{ customer_name_display }}</span>
      {% else %}
        Someone
      {% endif %}
      {% if location_string %}
        <span class="banana-from">from <span class="banana-location">{{ location_string }}</span></span>
      {% endif %}
      {% if seconds_ago < 1800 %}just {% endif %}
      <span class="banana-action">
        {% if action_type == 'customer_ordered_product' %}
          ordered
        {% else if action_type == 'customer_added_to_cart' %}
          started buying
        {% endif %}
      </span>
      <span class="banana-product-caption" data-max_product_name_length="{{ max_product_name_length }}">
        {%- if product and product.name -%}
          {%- if product.url -%}
            <a href="{{ product.url }}" target="{{ product.name }}" class="banana-product-link">
        {%- endif -%}
        {{ product.name }}
        {%- if product.url -%}</a>{%- endif -%}
        {%- else -%}
          a product
        {%- endif -%}
      </span>!
    <span class="banana-event-time-ago">{{ event_time }}</span>
    <span class="banana-notification-countdown" data-seconds="5">5</span>
    <span class="banana-notification-close"></span>
  </span>
</div>
  </main>
  {% section 'footer' %}
</body>
</html>
